* {
    padding: 0%;
    margin: 0%;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
}